<div id="titulo">
  <h1>Sector</h1>
</div>

<div class="contenido">
  <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="buscar" />
  </mat-form-field>

  <div fxLayoutAlign="center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="codigoSector">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Sector</th>
        <td mat-cell *matCellDef="let Sector">{{ Sector.codigoSector }}</td>
      </ng-container>
      <ng-container matColumnDef="descSector">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
        <td mat-cell *matCellDef="let Sector">{{ Sector.descSector }}</td>
      </ng-container>
      <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab (click)="openDialog(element.idSector, AccionesEnum.Modificar)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab (click)="openDialog(element.idSector, AccionesEnum.Eliminar)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="openDialog(row.idSector, AccionesEnum.Ver)" *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="10"
    showFirstLastButtons
  ></mat-paginator>
</div>
