<h1 mat-dialog-title class="titulo">
  {{ data.sector?.descSector }}
</h1>

<h3 mat-dialog-title style="white-space: pre-wrap">
  {{ AccionesEnum[data.tipoDialogo] }} datos sector.
  <button
    mat-stroked-button color="accent"
    *ngIf="data.tipoDialogo === AccionesEnum.Ver"
    (click)="data.tipoDialogo = AccionesEnum.Modificar"
    style="margin-left: 50px"
  >
    Editar
  </button>
</h3>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Codigo Sector</mat-label>
    <input
      matInput
      [disabled]="data.tipoDialogo === AccionesEnum.Modificar ? false : true"
      [(ngModel)]="data.sector.codigoSector"
    />
  </mat-form-field>
</div>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Descripción sector</mat-label>
    <input
      matInput
      [disabled]="data.tipoDialogo === AccionesEnum.Modificar ? false : true"
      [(ngModel)]="data.sector.descSector"
    />
  </mat-form-field>
</div>

<div mat-dialog-actions class="botones">
  <button
    mat-stroked-button color="accent"
    (click)="onNoClick()"
    class="titulo"
    [disabled]="data.tipoDialogo === AccionesEnum.Modificar ? false : true"
  >
    Cancelar
  </button>
  <!-- <button mat-button [mat-dialog-close]="data.valor" cdkFocusInitial>Aceptar</button> -->
  <button mat-stroked-button cdkFocusInitial color="accent" class="titulo">Aceptar</button>
</div>
