<div id="titulo">
  <h1>Atributo</h1>
</div>

<div class="contenido">
  <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="buscar" />
  </mat-form-field>

  <div fxLayoutAlign="center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="Cod_Atributo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo atributo</th>
        <td mat-cell *matCellDef="let Atributo">{{ Atributo.Cod_Atributo }}</td>
      </ng-container>
      <ng-container matColumnDef="Desc_Atributo" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descuento atributo</th>
        <td mat-cell *matCellDef="let Atributo">
          {{ Atributo.Desc_Atributo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Editable_Atributo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Editable atributo</th>
        <td mat-cell *matCellDef="let Atributo">
          {{ Atributo.Editable_Atributo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Tipo_dato_Atributo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo dato atributo</th>
        <td mat-cell *matCellDef="let Atributo">
          {{ Atributo.Tipo_dato_Atributo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Longitud_Atributo" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitud atributo</th>
        <td mat-cell *matCellDef="let Atributo">
          {{ Atributo.Longitud_Atributo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab (click)="openDialog(element.id_min_Atributo, AccionesEnum.Modificar)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab (click)="openDialog(element.id_min_Atributo, AccionesEnum.Eliminar)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="openDialog(row.id_min_Atributo , AccionesEnum.Ver)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="10"
    showFirstLastButtons
  ></mat-paginator>
</div>
