/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@media screen and (max-width: 960px) {
	table.mat-table {
		border: 0px;
		vertical-align: middle;
	}
	table.mat-table tr.mat-row {
		border-bottom: 5px solid #ddd;
		display: block;
		padding: 0px 10px;
		height: max-content;
	}
	table.mat-table td.mat-cell {
		border-bottom: 1px solid #ddd;
		display: block;
		padding: 10px 0px;
		text-align: end;
		height: max-content;
		min-height: 20px;
	}
	table.mat-table td.mat-cell:last-child {
		border-bottom: 0;
	}
	table.mat-table td.mat-cell:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold;
		margin-right: 5px;
	}
	table.mat-table td.mat-cell:not([data-label]) {
		text-align: center;
	}
	th.mat-header-cell {
		display: none;
	}
	tr.mat-header-row {
		display: none;
	}
	form {
		display: block!important;
		text-align: center;
	}
	.referencias {
		margin-left: 75%!important;
		width: 200px;
	}
}
html, body { height: 100%; }

.contenido{
    width: 90%;
    margin:1rem auto;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }